name: PR Build
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
      - ".vscode/**"

jobs:
  build-and-check:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Install dependencies
        run: "npm ci"

      - name: Build site
        run: "npm run build"

      - name: Run linter
        run: "npm run lint"
